@font-face{
    font-family: 'Segoe UI Black';
    font-display: swap;
    src: url('./fonts/Segoe-UI-Black.ttf') format('truetype')
}

@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype')
}

@font-face{
    font-family: 'Digital 7';
    font-display: swap;
    src: url('./fonts/digital-7.ttf') format('truetype')
}

*, *:focus, *:hover {
    outline: none;
}

*::-webkit-scrollbar {
    width: 0
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

body * {
    transition: all 200ms ease-in-out
}

h1 {
    font-size: 3rem;
    font-family: 'Segoe UI Black';
    color: #073B4C;
}

p, span {
    font-family: 'Montserrat', Arial, sans-serif;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: white;
    cursor: pointer;
}

button i {
    transition: none;
}

nav, main, #details {
    position: relative;
    float: left;
    height: 100%;
}

nav {
    width: 300px;
}

nav .content, #details .content {
    position: relative;
    display: grid;
    top: 50%;
    transform: translateY(-50%);
}

nav button {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 40px 0;
    border-radius: 50%;
    background: #EF476F;
    color: white;
}

nav button i {
    font-size: 1.6rem;
}

nav button:hover:not(.active), button:focus:not(.active) {
    width: 80px;
    height: 80px;
    background: #FFD166;
    color: #073B4C;
}

nav button.active {
    background: #073B4C;
    color: #FFD166;
}

main {
    width: calc(100% - 600px);
}

main section h1 {
    text-align: center;
}

#load-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFD166;
    z-index: 999;
}

#load-overlay img {
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#speedometer {
    font-size: 5rem;
    font-family: 'Digital 7';
    text-align: center;
    color: #EF476F;
}

#steering-wheel {
    position: relative;
    width: 30%;
    margin: auto 35%;
}

#lane {
    position: absolute;
    width: 200px;
    max-height: calc(100vh - 200px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 50px));
    overflow-y: auto;
}

#sensors .rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    height: 60vh;
    background: #073B4C;
}

#sensors .top, #sensors .bottom {
    position: relative;
    width: 100%;
    height: 50%;
}

#sensors #sensor-top, #sensors #sensor-bottom {
    position: absolute;
    background: #FFD166;
    left: 50%;
    transform: translateX(-50%);
    min-height: 10% !important;
    min-width: 10% !important;
    border: 2px solid #073B4C;
}

#sensors #sensor-top {
    bottom: 0;
}

#sensors #sensor-bottom {
    top: 0;
}

#details {
    width: 300px;
}

#details .detail {
    width: 300px;
    height: 45px;
    margin: 10px 0;
}

#details .name, #details .value {
    border: 3px solid #073B4C;
    padding: 10px 15px;
    float: left;
}

#details .name {
    background: #073B4C;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
}

#details .value {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.no-display {
    display: none;
}

.agent {
    position: relative;
    width: 180px;
    height: 300px;
    background: #FFD166;
    margin: 15px 0 15px 10px;
    border-radius: 30px;
}

.agent .wheel {
    position: absolute;
    width: 10px;
    height: 60px;
    background: #073B4C;
}

.agent .wheel-0, .agent .wheel-1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    left: -10px;
}

.agent .wheel-2, .agent .wheel-3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    right: -10px;
}

.agent .wheel-0, .agent .wheel-3 {
    top: 45px;
}

.agent .wheel-1, .agent .wheel-2 {
    bottom: 45px;
}

.agent .tags {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.agent .tag {
    position: relative;
    display: block;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 30px;
    background: #073B4C;
    color: white;
}

.agent .tag i {
    position: relative;
    top: 2px;
}

.agent .tag span {
    position: relative;
    top: -4px;
}